################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicTacToe/.vs/TicTacToe/v15
/TicTacToe/bin
/TicTacToe/.vs/TicTacToe/v16/ipch/feac26874da5dd55.ipch
/TicTacToe/.vs/TicTacToe/v16/Browse.VC.opendb
/TicTacToe/.vs/TicTacToe/v16/Browse.VC.db
/TicTacToe/.vs/TicTacToe/v16/.suo
/TicTacToe/.vs/config/applicationhost.config
